body{
    background-color: palevioletred;
    margin: 50px auto;
}

img{
    width:15%;
    margin: 0 auto;
    display: block;

}
/*Education title*/
header{
    width: 100%;
    color: white;
    
    text-align: center;
    font-size: 60px;
    font-family: Arial;
}
header:hover{  
    color:black;
}
/*education quote*/
h6{
    color:white;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
    
}
/*nelson name*/
h5{
    color:white;
    font-size: 25px;
    font-family: Arial;
    
    margin-top: 0 auto;
    text-align: center;
    
}
/*4 things*/
div{
    width: 50%;
    padding-bottom: 1%;
    text-align: left;
    margin-left: 30%; 
    font-family: Arial;
    line-height: 1.9;
    font-size: 140%;
}
/*because quote*/
p{
   
    color: white;
    width: 30%;
    font-size: 55px;
    text-align: center;
    margin-left: 36%;

}
/*name and title*/
footer{
    text-align: center;
    font-size: 130%;
    font-family: Arial;

}